@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 345 100% 10%;

    --primary-50: 100 25% 97%;
    --primary-100: 102 22% 94%;
    --primary-200: 104 20% 89%;
    --primary-300: 108 18% 80%;
    --primary-400: 112 17% 68%;
    --primary-500: 116 16% 56%;
    --primary-600: 120 15% 45%;
    --primary-700: 124 16% 35%;
    --primary-800: 128 18% 26%;
    --primary-900: 132 20% 19%;
    --primary-950: 135 24% 12%;

    --primary-foreground: 0 0% 100%;

    /* muted با متن خاکستری */
    --muted: 350 100% 96%;
    --muted-foreground: 0 0% 45%;   /* خاکستری خنثی */

    --border: 350 100% 88%;
    --input: 0 0% 100%;
    --ring: 350 89% 60%;
  }

  * {
    @apply border-border;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply min-h-screen bg-white font-vazir text-foreground antialiased;
  }
}

@layer utilities {
  .glass-panel {
    @apply border border-white/70 bg-white/60 shadow-glass backdrop-blur-2xl;
  }

  .glass-chip {
    @apply border border-white/70 bg-white/55 backdrop-blur-xl transition-all duration-300;
  }

  .hide-scrollbar {
    scrollbar-width: none;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
